{% extends 'base.html.twig' %}

{% block title %}Travel Idea Booking{% endblock %}

{% block body %}
    <body style="background-image:url('{{ asset('http://www.cedricat.cat/pics/b/18/189881_white-clouds-background.jpg') }}');
            background-repeat:no-repeat;
            background-size:cover;
            height:100vh;
            ">
    <div id="booking-react" ></div>
    </body>
{% endblock %}
