{% extends 'base.html.twig' %}

{% block title %}Travel Idea Booking{% endblock %}

{% block body %}
    <body style="background-image:url('{{ asset('http://www.evertravel.org/wp-content/uploads/2018/11/solo-travel-myth-bust_1.jpg') }}');
            background-repeat:no-repeat;
            background-size:cover;
            height:100vh;
            ">
    <div id="booking-react" ></div>
    </body>
{% endblock %}
